<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Create_Validate Web Ecatalog">


    <!-- To run all xml files in single run-->
    <suite-files>

        <suite-file path="src/test/resources/suiteXml/Smoke.xml"></suite-file>
        <suite-file path="src/test/resources/suiteXml/Sanity.xml"></suite-file>

    </suite-files>


    <!-- To run all specific test class -->
    <test name="Create_Validate Web Ecatalog">

        <classes>

            <class name="tests.OrangeHrmTest">
                <methods>
                    <include name=""></include>
                </methods>
            </class>
            <class name="tests.NewToursDemoTest"></class>

        </classes>

    </test>

</suite>